html, body, main {
    height: 100%;
    margin: 0;
    font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: #484747;
}

body {
    background-image: url('/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    overflow: hidden;
}

main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 64px;
    width: calc(100vw - 250px);
    height: calc(100% - 64px);
    padding: 1em;
}
